<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;"><h4 style="font-weight: bold;">LOGIN MENU</h4></div>
  <ion-item>
    <ion-label style="font-size: 20px;" position="stacked">Username</ion-label><br>
    <input type="text" class="formlogin" name="username" id="username" placeholder="Username Anda..." value="">
    <ion-label style="font-size: 20px;" position="stacked">Password</ion-label><br>
    <input type="password" class="formlogin" name="password" id="password" placeholder="Password Anda..." value="">
    <input type="button" class="buttonlogin" name="submitLogin" id="submitLogin" value="LOGIN"><br>
  </ion-item>
</ion-content>
