<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="containerproduk">
<img style="width: 60%; height: auto; float: left; display: inline;" src="https://image1ws.indotrading.com/s3/productimages/co54475/p444484/w300-h300/c84c2373-af0a-4254-a2e3-26cd33106d37w.jpg">
<p style="font-size: 18px; font-weight: bold; float: right; display: inline;">KIPAS ANGIN SEKAI</p>
</div>
</ion-content>
