<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Keranjang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="artikel">
      <div class="img">
        <img src="https://static.bmdstatic.com/pk/product/medium/REGENCY-Kipas-Angin-Tornado-Fan-Swing-Deluxe-16--3317264977-2017516131630.jpg" alt="menu">
      </div>
      <h3>Judul 1</h3>
      <div class="cc">
        <ion-button color="primary">Beli</ion-button>
        <ion-button color="success">Rp. 500.000</ion-button>
      </div>
    </div>

    <div class="artikel">
        <div class="img">
          <img src="https://static.bmdstatic.com/pk/product/medium/REGENCY-Kipas-Angin-Tornado-Fan-Swing-Deluxe-16--3317264977-2017516131630.jpg" alt="menu">
        </div>
        <h3>Judul 1</h3>
        <div class="cc">
            <ion-button color="primary">Beli</ion-button>
            <ion-button color="success">Rp. 500.000</ion-button>
          </div>
    </div>

      <div class="artikel">
          <div class="img">
            <img src="https://static.bmdstatic.com/pk/product/medium/REGENCY-Kipas-Angin-Tornado-Fan-Swing-Deluxe-16--3317264977-2017516131630.jpg" alt="menu">
          </div>
          <h3>Judul 1</h3>
          <div class="cc">
              <ion-button color="primary">Beli</ion-button>
              <ion-button color="success">Rp. 500.000</ion-button>
            </div>
      </div>
  </div>
</ion-content>
