.img {height: 100px;width:100px;overflow: hidden;margin-bottom:10px;float: left;}
.cc {overflow: hidden;}
h3 {display: block;}
.artikel {overflow: hidden;border-bottom: 2px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;}